.sps-container {
  text-align: center;
  color: gold;
  padding-top: 50px;
  background-color: #000;
}

.sps-logo {
  width: 150px;
  margin-bottom: 20px;
}

.sps-stations button,
.sps-submenu button {
  margin: 10px;
  padding: 12px 24px;
  border-radius: 8px;
  background: black;
  color: gold;
  border: 2px solid gold;
  font-size: 16px;
  cursor: pointer;
}
