/* AhabModule.css */

.ahab-container {
  background-color: #000;
  color: #ffd700;
  padding: 20px;
  border-radius: 10px;
}

.ahab-header {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}

.ahab-status {
  font-size: 14px;
  font-style: italic;
  color: #bbb;
}

