.hud-active {
  background-color: #000;
  color: gold;
}

.hud-panel {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background: #111;
  color: gold;
  border: 2px solid gold;
  padding: 1rem;
  border-radius: 10px;
  z-index: 9999;
}

