.nav {
  background-color: black;
  display: flex;
  justify-content: space-around;
  padding: 12px 0;
  border-top: 2px solid gold;
  border-bottom: 2px solid gold;
}

.link {
  text-decoration: none;
  color: gold;
}

.icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: gold;
  padding: 5px;
}

