.nolimit-station {
  text-align: center;
  padding: 30px;
  color: gold;
  background-color: #000;
}

.station-logo {
  width: 180px;
  margin-bottom: 20px;
}

.station-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 20px;
}

.upload-section,
.stream-section,
.tv-guide-section {
  border: 2px solid gold;
  padding: 20px;
  border-radius: 12px;
}
