.tgt-station {
  text-align: center;
  color: gold;
  background-color: black;
  padding: 40px;
}

.station-logo {
  width: 160px;
  margin-bottom: 20px;
}

.tgt-sections {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 20px;
}

.tg-upload,
.voting-panel,
.tgt-tv-guide {
  border: 2px solid gold;
  padding: 20px;
  border-radius: 12px;
}
