/* src/components/Notifications.module.css */
.notification-dropdown {
  position: absolute;
  top: 50px;
  right: 10px;
  background: #1a1a1a;
  border: 1px solid gold;
  padding: 10px;
  width: 240px;
  color: white;
  z-index: 999;
  border-radius: 5px;
}

.notification-dropdown h4 {
  color: gold;
  margin-bottom: 10px;
}

.notification-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notification-dropdown li {
  padding: 5px 0;
  border-bottom: 1px solid #333;
}

