/* src/components/PostActions.module.css */
.action-btn {
  background: none;
  border: none;
  padding: 6px 12px;
  margin-right: 6px;
  font-size: 14px;
  cursor: pointer;
  color: #ccc;
  transition: 0.2s ease-in-out;
  border-radius: 5px;
}

.action-btn:hover {
  color: gold;
  background-color: #111;
}

.save-btn.active {
  color: limegreen;
  font-weight: bold;
}

.report-btn:disabled {
  color: red;
  opacity: 0.7;
  cursor: not-allowed;
}

