.stationContainer {
  background-color: #000;
  color: gold;
  padding: 2rem;
  border: 2px solid gold;
  border-radius: 10px;
  margin: 1rem;
}

.stationTitle {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

