.entry {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #111;
  border-bottom: 1px solid #333;
  cursor: pointer;
}
.entry:hover {
  background: #222;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.name {
  font-weight: bold;
  color: #FFD700;
}
.lastMessage {
  font-size: 12px;
  color: #aaa;
}

